azure-cognitiveservices-speech
azure-core
azure.ai.contentsafety
azure.ai.formrecognizer
azure-ai-inference
azure-ai-textanalytics
azure.ai.vision.imageanalysis
azure-search
azure-search-documents
dotenv
numpy
openai 
